* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.08);
}

html {
    font-family: "Lato", 'Pacifo', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.6;
}

body {
    margin: 0px;
}

footer {
    position: relative;
    margin-top: 10%;
    bottom: 0;
    background: #34495e;
    color: #fff;
    height: 50px;
    padding: 6px 23px;
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 6px;
    outline: none;
}


textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.animated {
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

#header {
    width: 100%;
    height: auto;
    margin-bottom: 2px;
}

.form-page {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 5px;
   }
   /* sign up, login page form content box*/
.form-page-content {
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    width: 50%; /* Could be more or less, depending on screen size */
}

#services {
    margin-top: -18px;
}

#services p {
    word-wrap: break-word;
}

#map {
    width: 100%;
    height: 400px;
}

.message {
    margin-top: 70px;
    margin-bottom: 70px
}

.message h3 {
    margin: 0;
    color: #fff;
    font-family: 'Pacifo', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

.section-p-15 {
    font-size: 15px;
}

.home-link {
    text-decoration: none;
}

.row {
    width: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.col-2 {
    float: left;
    width: 50%;
}

.col-3 {
    float: left;
    width: 33.33%;
}

.col-4 {
    float: left;
    width: 25%;
}

.col-icon {
    width: 100px;
    height: 100px;
}

.card .works {
    width: 100%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card blockquote {
    margin-top: -10px;
}

.card-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 .card-2:hover, .card:hover {
     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
 }

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.border-line {
    border-radius: 5px;
    border: 0.4px solid gray;
    padding: 10px;
}

.img-holder {
  margin-right: -30px;
}

.btn {
    padding: .5em 3em;
    width: 100%;
    background-color: #34495e;
    color: #ffffff;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 25px 25px;
    outline: 0;
    height: 35px;
    font-size: 16px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

section h2 {
    font-style: italic;
    font-family: 'Pacifo' cursive;
}

.section-padding {
    margin-top: -19px;
    padding: 40px 15% 0 15%;
}

#contact p {
    margin-top: -1.5em;
}

.link-btn {
    border: 0.6px #333 solid;
    background: transparent;
    border-radius: 3px;
    text-decoration: none;
    float: right;
    height: 30px;
    width: 70px;
    padding: 2px 2px 2px 5px;
}

.mg-top-10 {
    margin-top: 5px;
}

.brand-name {
    font-family: 'Pacifo', cursive;
    font-size: 30px;
    color: #34495e;
}

label span {
    color: red;
}

img {
    max-width: 100%;
    height: auto;
}

#showcase {
    background: url('../images/1.jpg');
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10% 0px 70px 0px;
}

header .topnav span {
    display: block;
    width: 20px;
    height: 1.5px;
    background: white;
    margin: 3px -5px;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: center;
}

.topnav {
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.7);
    background: #34495e;
  }

  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav .lnk a {
      font-size: 0.9em;
   }

  .topnav .lnk a:hover {
    color: #333 !important;
    background: white !important;
    border-radius: 0px 20px 0px 20px;
   }

  .topnav .icon {
    display: none;
  }


.form-center {
    position: relative;
    top: 20;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

/*
*
*   MEDIA QUERY
*
*/

@media only screen and (max-width: 769px) {
    .col-2 {
        width: 100%;
    }

    .col-3 {
        width: 100%;
    }

    .col-4 {
        width: 100%;
    }

    .section-p-15 {
        font-size: 13px;
    }

}

@media screen and (min-width: 601px) {
    .lnk {
    float: right;
  }
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    #rule {
        border: 1px solid black;
        }
  }

  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .form-page {
        position: fixed; /* Stay in place */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        padding-top: 8%;
    }

    /* sign up, login page form content box*/
    .form-page-content {
        margin: 5% 10% 15% 10%; /* 5% from the top, 15% from the bottom and centered */
        width: 80%; /* Could be more or less, depending on screen size */
    }

    #showcase {
        width: 100%;
        background: url('../images/1.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 220px;
        padding: 40px;
    }

    .message {
        margin-top: 20px;
    }

    .message h3 {
        font-size: 19px;
    }



  }
